body{margin: 0px;padding: 0px;}
/*----------------------------link---------------------------------------- */
a:link {color: black; text-decoration: none; list-style: none;font-family: 'Colfax';font-style: normal;font-weight: 400;font-size: 18px; line-height: 30px;}
footer a:link {color: white; text-decoration: none; list-style: none; font-style: normal;font-weight: 400;font-size: 22px; line-height: 30px;}
button a:link{color: white; list-style: none;}
a:visited {color: black; text-decoration: none; list-style: none;font-style: normal;font-weight: 400;font-size: 22px; line-height: 30px;}
footer a:visited {color: white; text-decoration: none; list-style: none;}
button a:visited {color:white; text-decoration: none; list-style: none;}
  /* mouse over link */
a:hover {color: #B51472; text-decoration: underline;}
  /* selected link */
a:active { color: red; text-decoration: none;}
/*----------------------------link---------------------------------------- */



.index{display: grid;  width: 100%;}


/* -----------------------------------------nav---------------------------- */
#nav{ display: flex;width: 80%; height: 15vh; justify-content: space-between;align-items: center; margin: 0 auto; } #nav img{width: 90px; height:90px;} #nav .btn{display: none;flex-direction: row;justify-content: center;align-items: center; gap: 10px; width: 248px; height: 70px; background: #10827B; border: none; shape-outside: none;} #menue_li{display: none; flex-direction: row; width:60%; list-style:none; } ul li{ font-size:20px; text-align:justify; justify-content:space-around; margin: 0 auto;}
  /* overlay style*/
.overlay { height: 100%; width: 0; position: fixed; z-index: 1; top: 0; left: 0; background-color: rgb(0,0,0); background-color: rgba(0,0,0, 0.9); overflow-x: hidden; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; -ms-transition: 0.5s; -o-transition: 0.5s; } .overlay-content {position: relative;top: 25%;width: 100%;text-align: center;margin-top: 30px;} .overlay a {padding: 8px;text-decoration: none;font-size: 36px;color: #818181;display: block;transition: 0.3s;} .overlay a:hover, .overlay a:focus {color: #f1f1f1;} .overlay .closebtn {position: absolute;top: 20px;right: 45px;font-size: 60px;} .overlay a {font-size: 20px} .overlay .closebtn {font-size: 40px;top: 15px;right: 35px;}
#statistics .btn{display: flex;flex-direction: row; background-color: transparent;justify-self: flex-end;}
/* -----------------------------------------nav---------------------------- */


/* ------------------------------------top_report------------------- */
.top_report{height: 70vh; display:flex; flex-direction: column;justify-content: space-between; width:100%; background-image: url(../images/about_top_pic.png); background-size: cover; background-position:center; margin: 0px;}
/* ------------------------------------top_report------------------- */


/* <!---------------------------------- statistics ---------------> */
.statistics{display: flex;flex-direction: column;margin: 0;padding: 0;}
.accounted_for{display: flex;width: 100%; flex-direction: row;align-items: center;justify-content: center;background: #10827B;}
.primary_health{display: flex;flex-direction: row;align-items: center;justify-content: center;margin: 0;padding: 0;background: #000000;}
.acconted_for_p{ width: 90%; padding:15px 0; height: 70%;font-family: 'Italian Plate No2';font-style: normal;font-weight: 700;font-size: 25px;line-height: 36px;text-transform: capitalize;color: #FFFFFF;}
.primary_health_p{width: 100%;font-family: 'Italian Plate No2'; font-style: normal;font-weight: 700;font-size: 30px;line-height: 56px;text-transform: uppercase;color: #FFFFFF;}  
/* <!---------------------------------- statistics ---------------> */


/* <!---------------------------------- Basic health care ---------------- --> */
.basic_health_care{height: 100vh; margin: 0; background:url(../images/status\ of\ basic\ health.png); background-repeat: no-repeat; background-position: center;background-size: contain;}
/* <!---------------------------------- Basic health care ---------------- --> */


/* <!---------------------------------- Building block ---------------- --> */
.building_block{height: 100vh; margin: 0; background:url(../images/Building\ blocks.png); background-repeat: no-repeat; background-position: center;background-size: contain;}
/* <!---------------------------------- Building block ---------------- --> */

/* <!---------------------------------- bhcf block diagram ---------------- --> */
.bhcf_block_diagram{height: 90vh; margin: 0; background:url(../images/BHCPF_block_diagram.png); background-repeat: no-repeat; background-position: center;background-size: contain;}
/* <!---------------------------------- bhcf block diagram ---------------- --> */


/* <!---------------------------------- partnership ---------------- --> */
.partnership{height: 90vh; margin: 0; background:url(../images/collabration.png); background-repeat: no-repeat; background-position: center;background-size: contain;}
/* <!---------------------------------- partnership ---------------- --> */

/* -----------------------footer------------------------------ */
footer{background: black; display: flex;flex-direction: column;line-height: 30px;width: 100%; margin: 150px 0 0 0; ;padding: 0%;}
footer li{font-size: 24px; line-height: 30px;}
.footer_quick_link{display: flex; width: 100%; align-items: center; justify-content: center;}
.footer_logo{ display: flex; width: 100%;  flex-direction: column; align-items: center; justify-content: center;}
.footer_contact_m{display:flex; justify-content: center; align-items: center;}
.footer_contact{ display: flex; width: 100%;  flex-direction: column; align-items: center; justify-content: center;}
.logo_p{color: white;}
.footer_logo .footer_list{display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center;}
.footer_list .btn{display: flex;flex-direction: row;justify-content: center;align-items: center;padding: 10px 20px;gap: 10px;width: 198px;height: 40px; background: #00FFD9;}


@media screen and (min-width:1000px) {    
span {display: none;}
#menue_li{display: flex;}
#nav .btn{display: flex;}



.statistics{flex-direction: row;}
.accounted_for{width: 50%;}

.primary_health{width: 50%;}

.acconted_for_p{ width: 80%; font-family: 'Italian Plate No2';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 56px;
  /* or 187% */
  
  text-transform: capitalize;
  
  color: #FFFFFF;}

.primary_health_p{width: 40%;}  





/* footer for desktop view */
footer{background: black; display: flex;flex-direction: row;line-height: 30px;width: 100%; margin: 0 0 0 0; ;padding: 0%;}
footer li{font-size: 24px; line-height: 30px;}
.footer_quick_link{display: flex; width: 30%; align-items: center; justify-content: center;}
.footer_logo{ display: flex; width: 47%;  flex-direction: column; align-items: center; justify-content: center;}
.footer_contact{ display: flex; width: 23%;  flex-direction: column;  justify-content: center;}
.logo_p{color: white;}
}