body{
    padding: 0%;
    margin: 0px;
    background: #F5F5F5;
}
.container{
    width: 100%;
    height: 100%;
}
 
a:link {
    color: grey; text-decoration: none;}
/* visited link */
a:visited {
    color: grey; text-decoration: none;}
/* mouse over link */
a:hover {
    color: rgb(55, 255, 0); text-decoration: underline;}
/* selected link */
a:active { color: red; text-decoration: none;}

#top{ display: flex; flex-direction: column; width: 100%; display: flex; flex-direction: column;}

nav{  display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 20px 50px 20px 50px;}

.nav_list{  display: none;  flex-direction: row; justify-content: space-around;  list-style: NONE;  width: 50%;   font-family: Colfax; font-size: 24px;  font-weight: 400;  line-height: 30px; letter-spacing: 0em; text-align: left;}

.mln{ display: flex;  flex-direction: column; align-items: center; justify-content: center; width: 100%; display: flex; flex-direction: column; }

#mln_text{ display: flex; flex-direction: column; align-items: center;  justify-content: center; width: 100%; height: 506px;}

.mln_image { width: 100%; height: 506px;}

.mln_image img{ width: 100%; height: 506px; }

.p_mln{ display: flex; justify-content: center; align-items: center; width: 100%; font-family: 'Colfax'; font-style: normal; font-weight: 700; font-size: 96px; line-height: 115px; text-transform: uppercase; color: #000000; margin: 0%; padding: 0%;}

.p_disability{   display: flex;  justify-content: center;  align-items: center;  width: 100%;  font-family: 'Italian Plate No2';  font-style: normal;  font-weight: 700;  font-size: 30px;  line-height: 36px;  text-transform: uppercase;  color: #000000; margin: 0 0 20px  0; padding: 0%; line-height: 25px; }
     
    .btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        gap: 10px;
        width: 97px;
        height: 40px;
        background: #000000;
        color: white;
        font-size: large; 
    } .btn1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        gap: 10px;
        width: 170px;
        height: 40px;
        background: #d60000;
        color: white;
        font-size: large;
        }
    .btn2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        gap: 10px;
        width: 170px;
        height: 40px;
        background-color: transparent;
        color: white;
        font-size: large;
        }
    .en_btn{
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        gap: 10px;
        width: 97px;
        height: 40px;
        background: #000000;
        color: white;
        font-size: large;
    }
    .menue_btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        gap: 10px;
         width: 97px;
         height: 40px;
         background: #000000;
         color: white;
         font-size: large;
    }
    
   
#main{ display: flex; flex-direction: column; }

.statistics_section{ display: flex; flex-direction: column; margin: 117px 0 117px 0; }

.accounted_for{ display: flex; flex-direction: column; justify-content: center; align-items: center; height: 446px; width: 100%; background: #10827B; }

.not_accounted { display: flex; flex-direction: column; justify-content: center;  align-items: center; height: 446px; width: 100%; background: #00FFD9; }

.statisics_no { display: flex;  flex-direction: column;  align-items: center;  width: 100%; font-family: 'Italian Plate No2';  font-style: normal; font-weight: 700; font-size: 60px; line-height: 80px; text-transform: uppercase; color: #FFFFFF; padding: 0px; margin: 0px; }

.statisics_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Italian Plate No2';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    padding: 0px;
    margin: 0px;
}
.statisics_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 51px;
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding: 0;
    margin: 5px 0 30px 0;
    text-align: justify;
}

.viedo_statistics{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    height: 1000%;
    
}
.video{
    width: 100%;
    height: 502px;
    margin-bottom: 20px;
}
.feauture_section{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 422px;
    background: rgba(217, 217, 217, 0.4);
    margin-bottom: 117px;
   
     }
     #line {
         width: 100%;
         height: 10px;
         background-color: #000000;
     }
     #features {
         display: flex;
         justify-content: end;
         margin: 0px 100px 0 0;
         font-size: 30px;
     }
     #f_image_health {
         height: 100px;
         width: 100px;
         padding: 0 20px 0 10px;
     }
     #section3_p1 {
         width: 100%;
         height: 20px;
         font-family: 'Colfax';
         font-style: normal;
         font-weight: 700;
         font-size: 18px;
         line-height: 20px;
         text-transform: capitalize;
         color: #514D4D;
         padding: 0 20px 0 0px;
     }
     #section3_p2 {
         width: 132px;
         height: 15px;
         font-family: 'Work Sans';
         font-style: normal;
         font-weight: 400;
         font-size: 13px;
         line-height: 15px;
         letter-spacing: -0.02em;
         color: #000000;
         padding: 0 20px 0 10px;
     }
     #section3_p3 {
         width: 424px;
         height: 104px;
         font-family: 'Colfax';
         font-style: normal;
         font-weight: 400;
         font-size: 18px;
         line-height: 25px;
         color: #000000;
         padding: 0 20px 0 10px;
     }


     .ranking_report_section{
        display: flex;
        flex-direction: column;
        background:black;
        width: 100%;
        height: 199%;
    
    }

    .ranking_title{
        display: flex;
flex-direction: row;
        color: white;
        width: 100%;
    }
    .report{
        display: flex;
        flex-direction: column;
        align-items: center;
    justify-content: center;
    margin: 50px;
    }


.bhcpf_report{
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 80%;

}


.report_title{
    display: flex;
    flex-direction: row;
width: 100%;
height: 300px;
background: #000000;
}

.report_sumary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 275px;
    background: #00FFD9;}





#rect1_box3{
    width: 30%;
    height: 76px;
    background: #00FFD9;
}
#rect2_box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
    width: 60%;
    height: 100%;
    background: url(images/rect_box3.png);background-size: cover;
    background-repeat: no-repeat;

}
#rect3_box3{
    width: 10%;
height: 50px;
    background: #00FFD9;
    margin-top: 10%;
}
#rect4_box3{
    width: 30%;
    height: 25%;
    background: #00FFD9;
   
}
    .partnership{
        width: 100%;
        height: 308px;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .partnership_p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
    }
    .partnership_icons {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       
   }
   .partnership_icons .icons{
    width: 135px;
    height: 80px;
    align-items: baseline;
   }
   .p_p1{
    width: 362px;
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #10827B;
    margin: 10px 0 0 0;
    padding: 0px;
   }
   .p_p2{
        width: 362px;
        font-family: 'Colfax';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        color: black;
        margin: 0px;
        padding: 0px;
       }
    .p_text{
    width: 90%;
    left: 139px;
    top: 3034px;
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
     }
    
    footer{
        display: flex;
        flex-direction: column;
       line-height: 30px;
        width: 100%;
        background: #000000;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }
    .footer_a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 70%;
        margin: 0;
        font-family: 'Colfax';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
    }
  
    .footer_b{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 0;
        font-family: 'Colfax';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
    }
.rp_title{
width: 310px;
height: 60px;
font-family: 'Colfax';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
text-transform: uppercase;
color: #000000;
    }
.rp_text{
    width: 295px;
    height: 123px;
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;}
        

/* desktop view */
@media screen and (min-width:700px) {
    

.nav_list{
    display: flex;
}
.en_btn{
    display: flex;
}
.menue_btn{
    display: none;
}
.mln{
    flex-direction: row;
    width: 100%;
    height: 506px;
}
.statistics_section{
    flex-direction: row;
    margin: 0 0px;
}
.viedo_statistics{
    flex-direction: row;
}
.video{

    width: 50%;
    height: 502px;
}
.feauture_section{
    width: 90%;
    height: 402px;
    margin: 10% 5%;
    padding-bottom: 20px;
}

     #section5_p2 {
         display: flex;
         align-items: center;
         width: 100%;
         font-family: 'Colfax';
         font-style: normal;
         font-weight: 700;
         font-size: 24px;
         line-height: 30px;
         text-transform: uppercase;
         color: black;
         margin: 0 0 20px 0px;
         padding: 0;
     }
     #section5_p3 {
         width: 80%;
         height: 80px;
         font-family: 'Colfax';
         font-style: normal;
         font-weight: 400;
         font-size: 18px;
         line-height: 25px;
         color: #000000;
         text-align: justify;
         margin: 0;
         padding: 0;
     }
     #section5b {
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         align-items: center;
         width: 100%;
         padding-right: 139px;
     }
     .partnership{
        display: flex;
        flex-direction: row;
    }
     .partnership_p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        width: 60%;
    }
    .partnership_icons {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       
   }
   .partnership_icons .icons{
    width: 135px;
    height: 80px;
    align-items: baseline;
   }
   .p_p1{
    width: 362px;
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #10827B;
    margin: 0px 0 0 0;
    padding: 0px;
   }
   .p_p2{
    line-height: 40PX;
    text-align: justify;
       }
    .p_text{
    margin: 20PX 0 0 0px;
    width: 65%;
    line-height: 30PX;
    text-align: justify;
     }
     .partnership_icons {
        align-items: center;
        justify-content: space-around;
        
     }
     footer{
        flex-direction: row;
          align-items:flex-start;
        }
    .footer_a{
        align-items: center;
        text-align: center;
        width: 70%;
        line-height: 60px;
    }
  
    .footer_b{
        flex-direction: row;
        align-items: center;
        text-align: center;
        line-height: 60px;
    }
    .ranking_report_section{
        flex-direction: column;
    }
    .ranking_report{
        display: flex;
    }
   
    
    }
