
body {background-color: white;list-style: none; margin:auto; padding:0px;} 
.btn {display: flex;flex-direction: row;justify-content: center;align-items: center;padding: 10px 0px; gap: 10px;height: 40px;font-size: large; }
 
a:link {
  color: grey; text-decoration: none;}
/* visited link */
a:visited {
  color: grey; text-decoration: none;}
/* mouse over link */
a:hover {
  color: rgb(55, 255, 0); text-decoration: underline;}
/* selected link */
a:active { color: red; text-decoration: none;}
/* nav */
 #nav{ display: flex;width: 80%; height: 15vh; justify-content: space-between;align-items: center; margin: 0 auto; }
   #nav img{width: 70px; height:70px;}
    #nav .btn{display: none;flex-direction: row;justify-content: center;align-items: center; gap: 10px; width: 248px; height: 70px; background: #10827B;}   
    #menue_li{display: none; flex-direction: row; width:60%; list-style:none; }
    ul li{ font-size:20px; text-align:justify; justify-content:space-around; margin: 0 auto;}
 /* overlay style*/
    .overlay { height: 100%; width: 0; position: fixed; z-index: 1; top: 0; left: 0; background-color: rgb(0,0,0); background-color: rgba(0,0,0, 0.9); overflow-x: hidden; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; -ms-transition: 0.5s; -o-transition: 0.5s; }
    .overlay-content {position: relative;top: 25%;width: 100%;text-align: center;margin-top: 30px;}
    .overlay a {padding: 8px;text-decoration: none;font-size: 36px;color: #818181;display: block;transition: 0.3s;}
    .overlay a:hover, .overlay a:focus {color: #f1f1f1;}
    .overlay .closebtn {position: absolute;top: 20px;right: 45px;font-size: 60px;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {font-size: 40px;top: 15px;right: 35px;}
    #statistics .btn{display: flex;flex-direction: row; background-color: transparent;justify-self: flex-end;}
    /* overlay style*/
 /* nav */

 
 /* Top_slider */
 #Top_slider{height: 65vh; margin: 0; width: 100%;background-image: url(../images/slide2.png);background-size: cover; background-repeat: no-repeat; background-position: center;}
 /* Top_slider */



/* Statistics style */
#statistics{display: flex;flex-direction: column;}
#accounted_for{background: #10827B; height: 46vh; width: 100%;padding: 0px 0px 0 0px;}
#the_state{display:flex; height: 46vh; align-items: center; background: black; color:white; width: 100%;}
#the_state .state_p{  text-align: left;margin: auto; width:80%; font-family: 'Italian Plate No2';font-style: normal;font-weight: 700;font-size: 20px;line-height: 56px; text-transform: uppercase; color: #FFFFFF; text-align: justify;}
#statistics .btn{background-color: transparent;margin: 0 auto;}
.statisics_no { display: flex;  flex-direction: column;  align-items: center;  width: 90%; font-family: 'Italian Plate No2';  font-style: normal; font-weight: 700; font-size: 45px; line-height: 80px; text-transform: uppercase; color: #FFFFFF; padding: 0px; margin: 0px auto; }
.statisics_title{display: flex; flex-direction: column;align-items: left; width: 80%; font-family: 'Italian Plate No2'; font-style: normal;font-weight: 700; font-size: 36px; line-height: 36px;  text-transform: uppercase;color: #000000; padding-left: 13%; margin: auto;}
.statisics_text{ display: flex;flex-direction: column; width: 75%; min-height: 100%; font-family: 'Colfax'; font-style: normal;font-weight: 400; font-size: 18px; line-height: 30px;padding: 0; margin: 5px auto;text-align: justify;}
#accounted_for .statisics_text{color: white;}
/* Statistics style */



/* Hospital_section style */
  #health_section{display: flex; flex-direction: column; margin: 100px 0 100px 0; padding: 0px;}
     .hospital_img{width: 320px; height:45vh; margin: auto;}
     .hospital_img img{width: 100%; height:100%; margin: auto;}
     .hospital_report{display: flex; flex-direction: row; width: 100%;height: 100%; margin-top: 20px;}
        /*report style */
    .hospital_report_p1{ min-height: 43vh;width: 20%;font-size: 40px; text-align: center;}
    .hospital_report_p2{ justify-self: center; min-height: 43vh; border-top:5px solid  #10827B; align-self: center; background: rgba(217, 217, 217, 0.4); width: 80%; padding: 0 5%; margin: auto; font-family: 'Colfax'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 20px; color: #000000; text-align: justify; }
    /*report style */
/* Hospital_section style */


/* health_rankin_report style */
#health_rankin_report{ display: flex;flex-direction: column;background: black;}
#label{background: black; margin: 100; height: 49.14px;font-family: 'Italian Plate No2';
font-style: normal;font-weight: 700;font-size: 20px;line-height: 50px;text-transform: uppercase;color: white;}
#reports{
  display: flex;
  flex-direction: column;
height: 70vh;
background: #000000;
}
#report2{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
height: 70vh;
background: #000000;
}

#report3{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
height: 70vh;
background: #000000;
}

/* Report Ranking */
#ranking_report{display: flex;justify-content: space-evenly;background-color: #000000;padding: auto 0 ;align-items: center;height: 80vh;width: 100%;margin: 150px 0;}

.report{display: flex;flex-direction: column;height: 90%; width: 25%;}
.ranking_logo.ranking_logo2{background-color: rgb(0, 0, 0);display: flex;flex-direction: column;height: 40%;}
.ranking_details{background-color: #00FFD9;height: 60%;}
.rp_title{width: 310px;height: 60px;font-family: 'Colfax';font-style: normal;font-weight: 500;font-size: 25px;line-height: 30px;text-transform: uppercase;color: #000000;text-align: justify;margin: 20px auto;text-decoration: solid;} 
.rp_text{
       width: 70%;font-family: 'Colfax';font-style: normal;font-weight: 400;font-size: 18px;line-height: 25px;margin: auto;color: #000000;}

/* <!-- must_have --> */
.ranking_logo{background-color: rgb(0, 0, 0);display: flex;flex-direction: column;height: 40%;}
#d1{width: 65px;height: 100px;background: #00FFD9;align-self: flex-end;}
#d2{width: 15px;height: 42px;background: #00FFD9;align-self:auto;}
#d3{width: 50px;height: 53px;background: #00FFD9;align-self:baseline;margin: 8% 0 0 30%;}
/* <!-- Must_have --> */

/* <!-- digest --> */
.ranking_logo2{display: flex;height: 40%; flex-direction: row;}
#dd0{width: 40%;height: 100%;background: #000000;}
#dd1{width: 60%;height: 100%;background-image: url(../images/rect_box2.png);}
#dd2{display: flex; float: right; width: 67px;height: 63.88px;background: #00FFD9; }
#dd3{width: 47px;height: 31.45px;background: #00FFD9;margin:80% 0 0% 20%;}
/* <!-- digest --> */

/* <!--implimentation --> */
.ranking_logo3{display: flex;height: 40%; flex-direction: row;}
#ddd0{width: 40%;height: 100%;background: #000000;}
#ddd1{width: 60%;height: 100%;background-image: url(../images/rect_box3.png);}
#ddd2{display: flex; float: right; width: 67px;height: 63.88px;background: #00FFD9; }
#ddd3{width: 47px;height: 31.45px;background: #00FFD9;margin:80% 0 0% 20%;}
/* <!-- Must_have --> */


/* partnership */

.partnership{width: 100%; height: auto;}

.p_partnership{font-family: 'Colfax';font-style: normal;font-weight: 700;font-size: 24px;line-height: 30px; margin: 0 auto; min-width: 300px;text-transform: uppercase; padding-left: 50px; color: #10827B;}
 
.partnership_logos{display:flex; display: flex; flex-direction: row; align-items: center;justify-content: center; flex-wrap: wrap; margin: auto;}

.partnership_logos img{ width: 120px; height: 80px; margin: 20px;}

/* footer */
li img{margin: 0 auto; text-align: center;}

 footer{display: flex;flex-direction: column;line-height: 30px;width: 100%;background: #000000;align-items: center;margin: 0 auto;padding: 0%;}


 .footer_quick_link{display:flex;margin: 0 auto; list-style: none; padding: 0;}

 .footer_logo{display:flex; flex-direction: column; flex-wrap: wrap; margin: 0 auto; background:red; padding: 0; text-align: center;}
/* footer */
