body {
  margin: 0;
  padding: 0;
}
/*FOOTER start*/
  /* f-list, links & others styles */
.f-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  min-width: 350px;
}
.f-list, a{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;}
a:link {
  text-decoration: none;}
a:visited {
  text-decoration: none;}
a:hover {
  text-decoration: underline;
  cursor: pointer;}
ul {
  list-style: none;
  font-family: 'Colfax';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;}
.l-item{
font-weight: 500;
font-size: 18px;
line-height: 21px;
  }
.l-container{
  gap: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  /* background: blue; */
  /* min-width: 250px; */
}
/* f-list, links & others styles */
/* f-column1  */
#f-col1 {
  min-width: 250px;
  background: black;}
/* f-column1 end */
/* f-column2 start  */
#f-col2{
  position: relative;
  left: 0;
  display: flex;
  /* background: blue; */
  justify-content: center;
  align-items: center;
   min-width: 350px;
 }
.f-list2{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  /* background: red; */
}
  /* f-column2  end*/
/* f-column3 start  */
#f-col3-hide{
  display: flex;
  margin: 0;
  padding: 0;
  background: black;
  justify-content: center;
  align-items: center;}
#f-col3{
  margin: 0;
  padding: 0;
  background: black;
  justify-content: center;
  align-items: center;}
.f-list3{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;}
.f-list3>li>h5>button{
  display: flex;
  flex-direction: row;
  /* padding: 10px auto; */
  gap: 10px;
  width: 198px;
  height: 40px;
  font-family: 'Colfax';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
  background: #00FFD9;
  justify-content: center;
  align-items: center;}
#f-col3-hide{display: none;}
  /* f-column3  */
 /* styles for footer responsiveness  start */
 @media screen and (max-width: 920px) and (min-width: 650px) {
  .f-container{
    min-width: 500px;
    max-width: 900px;
    /* background: red; */
  }
/* f-column1  */
#f-col1 {
  width: 95%;
  display: flex;
  min-width: 600px;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  /* background: green; */
}
/* f-column1 end */
#l-container-1{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: blue; */
  width: 100%;
}
#l-container-1>#f-col3-hide{ position: relative;top: -2rem;
  display: flex;
  width: 30%;
  margin-top: 0;}
  #f-col2{
    margin-top: 2rem;
  }
  #f-col3{
    display: none;
  }
}
 @media screen and (min-width: 921px) {
  .f-container{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 20px 0;
    gap: 1rem;
    min-width: 950px;
  }
#f-col1{
  margin-left: 100px;
}
#f-col3{
  margin-right: 100px;
}
 }
/*FOOTER end*/

